body{
    background-color: lightgray;
}
.fa{
    color: royalblue;
}
p{
    margin: 10px 0px;
    font-size: 12px;
}
.box-part{
    background-color: white;
    padding: 50px 10px;
    margin: 30px 5px;
}
.box{
    padding: 70px 1px;
}